<li class="flex align-center li">
	<a href="{{siteRootUrl}}" class="link link-home">
		@@include('public/_theme/images/icons/home.svg')
	</a>
	{{#if domain.title}}
	{{#unless (or domain.root (eq domain.title breadcrumbs.0.title))}}
	<li class="flex align-center li">
		<a class="link" href="{{{domain.url}}}">{{{domain.title}}}</a>
		{{/unless}}
		{{/if}}
		{{#each breadcrumbs}}
		{{#if ./url}}
		<li class="flex align-center li">
			<a class="link" href="{{{./url}}}">{{{./title}}}</a>
			{{else}}
			<li class="flex align-center li">
				<span class="crumb">{{{./title}}}</span>
				{{/if}}
				{{/each}}
